[submodule "catkin_ws/src/abb_egm_rws_managers"]
	path = catkin_ws/src/abb_egm_rws_managers
	url = https://github.com/ros-industrial/abb_egm_rws_managers.git
	branch = 7d69d3dd
[submodule "catkin_ws/src/abb_libegm"]
	path = catkin_ws/src/abb_libegm
	url = https://github.com/ros-industrial/abb_libegm.git
	branch = e0b8c3b0
[submodule "catkin_ws/src/abb_librws"]
	path = catkin_ws/src/abb_librws
	url = https://github.com/ros-industrial/abb_librws.git
	branch = 3a5914ef
[submodule "catkin_ws/src/abb_robot_driver"]
	path = catkin_ws/src/abb_robot_driver
	url = https://github.com/uynitsuj/abb_robot_driver.git
[submodule "dependencies/jaxls"]
	path = dependencies/jaxls
	url = https://github.com/chungmin99/jaxls.git
	branch = 2d1035c
[submodule "dependencies/jaxmp"]
	path = dependencies/jaxmp
	url = https://github.com/uynitsuj/jaxmp.git
[submodule "dependencies/oculus_reader"]
	path = dependencies/oculus_reader
	url = https://github.com/rail-berkeley/oculus_reader.git
	branch = de73f3d
[submodule "dependencies/dp_gs"]
	path = dependencies/dp_gs
	url = https://github.com/Max-Fu/dp_gs.git
[submodule "dependencies/openpi"]
	path = dependencies/openpi
	url = https://github.com/Max-Fu/openpi.git
[submodule "dependencies/Isaac-GR00T"]
	path = dependencies/Isaac-GR00T
	url = https://github.com/Max-Fu/Isaac-GR00T.git
	branch = 60b54f1
[submodule "dependencies/viser"]
	path = dependencies/viser
	url = https://github.com/nerfstudio-project/viser.git

