[submodule "catkin_ws/src/abb_egm_rws_managers"]
	path = catkin_ws/src/abb_egm_rws_managers
	url = https://github.com/ros-industrial/abb_egm_rws_managers.git
	branch = 7d69d3dd
[submodule "catkin_ws/src/abb_libegm"]
	path = catkin_ws/src/abb_libegm
	url = https://github.com/ros-industrial/abb_libegm.git
	branch = e0b8c3b0
[submodule "catkin_ws/src/abb_librws"]
	path = catkin_ws/src/abb_librws
	url = https://github.com/ros-industrial/abb_librws.git
	branch = 3a5914ef
[submodule "catkin_ws/src/abb_robot_driver"]
	path = catkin_ws/src/abb_robot_driver
	url = https://github.com/uynitsuj/abb_robot_driver.git
